.navbar {
    background-color: black;
    color: white;
    height: 150px;
    width: 100%;
    display: inline-block;
    flex-direction: row;
}

.navBarLogo {
    height: 90px;
    width: auto;
    padding: 5px;
}

.navbar > ul {
    display: inline-flex;
    justify-content: flex;
    flex-direction: row;
    flex-grow: 1;
    /* padding-left: 900px; */
}

.navbar > ul > li {
    padding: 2px;
    /* width: 50px; */
    flex: 1;
    /* flex-shrink: 3; */
    color:white;
    list-style: none;
    justify-content: center;
    font-weight:bold;
    font-size: 16px;
}

.navbar > ul > li > a {
    text-decoration:none;
    color: white;
}

.mini-cart {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: white;
    height: 100%;
    width: 470px;
    z-index: 1000; 
} 

.mini-cart-open .mini-cart {
    visibility: visible;
    right: 0;
}


.login-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: white;
    height: 100%;
    width: 470px;
    z-index: 1000; 
}

.login-open .login-menu {
    visibility: visible;
    left: 0;
}

.footer {
    background-color: black;
    color: white;
    height: 250px;
    width: 100%;
}

.footer > .footer-title {
    display: flex;
    justify-content: center;
}

.footer > .footer-title > li {
    padding: 20px;
    flex: 1;
    color:white;
    list-style: none;
    justify-content: center;
    font-weight:bold;
    font-size: 16px;
}
li {
    text-align: center;
}
.footer > .footer-title > li > a {
    text-decoration:none;
    color: white;
}

.footer > .footer-copyright {
    color: white;
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
}
.footer-img {
    height: 100px;
    width: 250px;
    padding: 5px;
}

.footer > .footer-logo > img {
    display: block;
    margin: auto;
}
.footer > .footer-logo {
    
    display: flex;
    justify-content: center;
    
}